<%- include('./includes/head.ejs')%> 
</head>
<body>
<%- include('./includes/nav.ejs')%>
<div>
  <form class="product-form" action="/magazines" method="get">
      <div class="form-control">
        <label for="title">Search by Authors Email</label>
        <input type="text" name="email" id="email" />
        <button class="btn" type="submit">Search</button>
      </div>
  </form>
  <form class="product-form" action="/magazines" method="get">
      <div class="form-control">
        <label for="title">Search by ISBN</label>
        <input type="text" name="isbn" id="title" />
        <button class="btn" type="submit">Search</button>
      </div>
  </form>
  <% if(magazines.length>0) {%>
  <table>
    <br>
    <tr>
      <th>Title</th>
      <th>ISBN</th>
      <th>Authors</th>
      <th>Published at</th>
    </tr>
    <% for(let magazine in magazines){%>
    <tr>
      <td><%=magazines[magazine].title%></td>
      <td><%=magazines[magazine].isbn%></td>
      <td><%=magazines[magazine].authors%></td>
      <td><%=magazines[magazine].publishedAt%></td>
    </tr>
    <%}%> <%} else{%>
  </table>
  <h1>No Magazines found</h1>
  <%}%>
</div>
<%- include('./includes/end.ejs')%>