<%- include('./includes/head.ejs')%> 
</head>
<body>
<%- include('./includes/nav.ejs')%>
  <% if(items.length>0) {%>
  <table>
    <br>
    <tr>
      <th>Title</th>
      <th>ISBN</th>
      <th>Authors</th>
      <th>Published At / Description</th>
    </tr>
    <% for(let item in items){%>
    <tr>
      <td><%=items[item].title%></td>
      <td><%=items[item].isbn%></td>
      <td><%=items[item].authors%></td>
   
     <% if (typeof(items[item].publishedAt)=="string" ) { %>
    <td><%=items[item].publishedAt%></td>
<%} else { %>
<td><%=items[item].description%></td>
<% } %>
    </tr>
    <%}%> <%} else{%>
  </table>
  <h1>No Data found</h1>
  <%}%>
</div>
<%- include('./includes/end.ejs')%>